<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IntrinsicsDude.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <IntrinsicsDude.Settings>
            <setting name="SyntaxHighlighting_Intrinsic" serializeAs="String">
                <value>DarkViolet</value>
            </setting>
            <setting name="SyntaxHighlighting_Register" serializeAs="String">
                <value>Teal</value>
            </setting>
            <setting name="SyntaxHighlighting_Misc" serializeAs="String">
                <value>DarkOrange</value>
            </setting>
            <setting name="SyntaxHighlighting_On" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StatementCompletion_On" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ARCH_MMX" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_SSE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_SSE2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_SSE3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_SSSE3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_SSE41" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_SSE42" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_AVX" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_AVX2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_AVX512VL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_AVX512DQ" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_AVX512BW" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_AVX512ER" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_AVX512F" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_AVX512CD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_BMI1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_BMI2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_FMA" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_MPX" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SignatureHelp_On" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_ADX" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_FP16C" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_PCLMULQDQ" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_CLFLUSHOPT" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_FXSR" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_KNCNI" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_AES" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="USE_SVML" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_AVX512PF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_AVX512IFMA52" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_AVX512VBMI" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_LZCNT" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_INVPCID" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_MONITOR" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_POPCNT" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_RDRAND" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_RDSEED" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_TSC" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_RDTSCP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_FSGSBASE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_SHA" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_RTM" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_XSAVE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_XSAVEC" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_XSS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_XSAVEOPT" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_PREFETCHWT1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HideStatementCompletionIncompatibleReturnType_On"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DecorateIncompatibleStatementCompletions_On" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARCH_IA32" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HideStatementCompletionMmxRegisters_On" serializeAs="String">
                <value>False</value>
            </setting>
        </IntrinsicsDude.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
